body {
    background-image: url(images/pensa_diversamente.png);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.h100 {
    height: 100vh;
}

h3 {
    text-transform: lowercase;
}
